<!DOCTYPE html>
<html>
<head>
    <meta charset='utf-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <title>Page Title</title>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    <link rel='stylesheet' type='text/css' media='screen' href='main.css'>
    <script src='main.js'></script>
    <style>
        div.login{
            display: table-caption;
        }
    </style>
</head>
<body>
    <div></div>
    <div class="login">
        <form action="/login" method="POST">
        <label>LOGIN</label>
        <input type="text" id="username">
        <input type="password" id="senha">
        </form>
        <button id="btn-entrar">ENTRAR</button>
        <a href="cadastro.html">Registrar</a>
    </div>
</body>
</html>